
# Folders to ignore

.obsidian/
-box/
bookmark-inspo-tagged/
date-stamped/
experiment-logs/
obsidian-references
planning-docs✓/
resources
ShannaSeigel.github.io/
slipbox/
slipbox to review and add back/
zk-sgs/



# Files to Ignore
.DS_Store
🎨 Obsidian Themes.md
📂 Obsidian Folder Purposes.md
📜 Obsidian Tags vs Pages.md
-Action Tags.md
-Focus Mode 🎧.md
📝 Obsidian Format Text.md
🔗 Obsidian Links & Images.md
🖐🏼 Obsidian Shortcut Keys.md
🎨 Obsidian Themes
obsidian-shared-vaults
